    
    
    <p class="footer text-center text-muted"> Seja! muito bem Vindo!</p>
    </div>
    <style>
        a:hover{
            width: 120px;
            background-color: aquamarine;
            transition: .9s;
            font-weight: bold;
            text-align: center;
            border-radius: 10px;
            font-size: 18px;
        }
        .footer{
            position: absolute;
            bottom: 0px;
        }
    </style>
</body>
</html>
