<%- include('../components/head'); %>

    <div class="jumbotron">
        <h1>Entre para nossa comunidade!</h1>
        <p>Realize seu cadastro!</p>
    </div>

    <div class="form">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Nome">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Telefone">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <textarea class="form-control"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col mt-2">
                <div class="btn btn-primary">Cadastrar</div>
            </div>
        </div>
    </div>
    
<%- include('../components/footer'); %>